@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: radial-gradient(circle, #5211bb, #430ca9, #350797, #260385, #170074);
    margin: 0;
    padding: 0;
}

body p{
    font-size: 25px;
}

.nav {
    background-color: #fff;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}


.reficon {
    align-items: center;
    text-decoration: none;
    margin-right: 35px;
    color: #000;
    font-size: 20px;
}

.underline::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.logoinicio {
    text-align: center;
}

.pixelpulse {
    margin: 0;
    padding: 0;
    height: 1200px;
}

.verde {
    background-image: linear-gradient(to bottom, #004710, #034512, #064313, #084015, #0b3e16, #0b3d16, #0a3b15, #0a3a15, #073913, #053811, #02370f, #00360d);    padding: 0;
}

.juego {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infojuego {
    color: #fff;
}

.infojuego button {
    border-radius: 50px;
    padding: 10px 20px;
    color: #000;
    font-size: 18px;
    background-color: #fff;
    border: none;
    margin: 10px 0;
    cursor: pointer;
}

.infojuego button a {
    text-decoration: none;
    color: #000;
}

.contacto {
    display: flex;
    align-items: center;
}

.footer img {
    width: 100%;
}

.footerinfo{
    position: absolute;
    top: 260%;
    margin: 0 9%;
    width: 80%;
    color: #fff;
}